.App {
  background-image: linear-gradient(
      to left,
      rgba(104, 255, 255, 0.292),
      rgba(0, 0, 0, 0.483)
    ),
    url("./assets/images/app-background-img.jpg");
  background-repeat: round;
  display: flex;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #F1EBEB;
  display: flex;
  align-items: center;
}
